
  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Join us for Vana Mahotsavam 2023, a celebration of nature, tree planting, and cultural performances. Be a part of the green movement and contribute to a sustainable future."
    />
    <meta
      name="keywords"
      content="Vana Mahotsavam, tree planting, environmental conservation, green movement, cultural performances, 2023 event"
    />
    <meta property="og:title" content="Vana Mahotsavam 2023" />
    <meta
      property="og:description"
      content="Join us for Vana Mahotsavam 2023, a celebration of nature, tree planting, and cultural performances. Be a part of the green movement and contribute to a sustainable future."
    />
    <meta property="og:image" content="url-to-your-image" />
    <meta name="twitter:card" content="summary_large_image" />

    <title>
      SMVITM: Shri Madhwa Vadiraja Institute of Technology and Management
    </title>
    <link rel="icon" href="assets/images/images.png" type="image/x-icon" />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/font-awesome.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/splitting.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/aos.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/style.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <% if (message) { %>
    <script>
      alert("<%= message %>");
    </script>
  <% } %>
    <!-- preloader start -->
    <div class="preloader js-preloader">
      <div class="preloader-bg">
        <div class="bg-item js-bg-item"></div>
        <div class="bg-item"></div>
        <div class="bg-item"></div>
        <div class="bg-item"></div>
        <div class="bg-item"></div>
        <div class="bg-item"></div>
        <div class="bg-item"></div>
        <div class="bg-item"></div>
        <div class="bg-item"></div>
        <div class="bg-item"></div>
      </div>
      <div class="preloader-items">
        <div class="preloader-item"></div>
        <div class="preloader-item"></div>
        <div class="preloader-item"></div>
        <div class="preloader-item"></div>
      </div>
    </div>
    <!-- preloader end -->

    <div class="page-wrapper">
      <!-- header start -->
      <header class="header">
        <div class="header-container container">
          <a href="#" class="header-logo" data-aos="fade-down"
            ><span>Code</span>Trooper</a
          >
          <button data-aos="fade-down" class="header-toggler js-header-toggler">
            <span></span>
          </button>
          <nav class="header-menu js-header-menu">
            <ul data-aos="fade-down">
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#venue">Venue</a></li>
              <li><a href="#schedule">Schedule</a></li>
              <li><a href="#gallary">Gallery</a></li>
              <li><a href="#register">Join us</a></li>
              <li><a href="/login" target="_blank">Admin</a></li>
            </ul>
          </nav>
          <div class="overlay js-overlay"></div>
        </div>
      </header>
      <!-- header end -->

      <!-- home section start -->
      <section class="home" id="home">
        <div class="home-container container">
          <div class="home-left">
            <h1 class="home-title" data-splitting data-aos="text-animation">
              Vana Mahotsavam 2023!
            </h1>

            <p class="home-subtitle">
              <span class="home-subtitle-1" data-aos="fade-up">
                Event Details:
              </span>
              <span data-aos="fade-up">
                <i class="fa fa-calendar-alt"></i>
                15-16 January
              </span>
              <span data-aos="fade-up">
                <i class="fa fa-hourglass-2"></i>
                8:00am-4:00pm
              </span>
              <span data-aos="fade-up" data-aos-delay="300">
                <i class="fa fa-map-marker-alt"></i>
                Sarita Vihar, New Delhi
              </span>
            </p>

            <div class="home-btn" data-aos="fade-up" data-aos-delay="600">
              <a href="#register" class="btn">Buy tickets</a>
            </div>
          </div>

          <div class="home-right">
            <div class="home-box">
              <div class="home-decor" data-aos="reveal-left"></div>
              <div class="home-img-box1">
                <img
                  src="assets/images/home-1.jpg"
                  alt="img1"
                  data-aos="reveal-left"
                  data-aos-delay="400"
                  loading="lazy"
                />
              </div>
              <div class="home-img-box2">
                <img
                  src="assets/images/home-2.jpg"
                  alt="img2"
                  data-aos="reveal-left"
                  data-aos-delay="500"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- home section end -->

      <!-- about section start -->
      <section class="about" id="about">
        <div class="container">
          <div class="about-content">
            <div class="section-header">
              <h2
                class="section-header-title"
                data-splitting
                data-aos="text-animation"
              >
                about event
              </h2>
            </div>
            <div class="about-img-box">
              <img
                src="assets/images/about-1.jpg"
                alt="img"
                data-aos="reveal-left"
                loading="lazy"
              />
              <div class="about-decor1" data-aos="reveal-left"></div>
              <div class="about-decor2" data-aos="reveal-left"></div>
            </div>
            <div class="about-text">
              <p data-aos="fade">
                Vana Mahotsavam holds a special place in our hearts as it goes
                beyond a mere event. It's a collective endeavor to raise
                awareness about the vital role of trees and forests in
                maintaining ecological balance.
              </p>
              <p data-aos="fade">
                The event is a testament to our commitment to environmental
                stewardship and a greener future.
              </p>
              <p data-aos="fade">
                We strive to instill a sense of responsibility and appreciation
                for nature, ensuring that our actions today positively impact
                the environment tomorrow.
              </p>
              <p data-aos="fade">
                Join us in this noble cause. Let's continue the tradition of
                Vana Mahotsavam and cultivate a legacy of green consciousness.
              </p>
              <div class="about-btn" data-aos="fade-up">
                <a href="#pricing" class="btn">buy tickets</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- about section end -->

      <!-- venue section start -->
      <section class="schedule hero" id="venue">
        <div class="container">
          <div class="hero-bg">
            <div class="hero-content">
              <h1 class="h1 hero-title">VENUE</h1>

              <p class="hero-text">
                Shri Madhwa Vadiraja Institute of Technology & Management
              </p>

              <div class="about-btn" data-aos="fade-up">
                <a
                  href="https://maps.app.goo.gl/qw5AUi3D721s4oc2A"
                  target="_blank"
                  class="btn"
                >
                  View location on map</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- venue section end -->

      <!-- schedule section start -->
      <section class="schedule" id="schedule">
        <div class="container">
          <div class="section-header">
            <h2
              class="section-header-title"
              data-splitting
              data-aos="text-animation"
            >
              event schedule
            </h2>
          </div>
          <!--  <div class="schedule-tabs" data-aos="fade-up">
            <button
              type="button"
              data-target="#day-1"
              class="schedule-tab active js-schedule-tab"
            >
              day 1 <span>15-01-2024</span>
            </button>
            <button
              type="button"
              data-target="#day-2"
              class="schedule-tab js-schedule-tab"
            >
              day 2 <span>16-01-2024</span>
            </button>
          </div> -->
          <div class="scedule-tab-content">
            <table
              class="schedule-table active js-schedule-table"
              id="day-1"
              data-aos="fade-up"
            >
              <tr>
                <th>Time</th>
                <th>Genre</th>
                <th>Description</th>
              </tr>
              <tr>
                <td>8:00 AM - 9:00 AM</td>
                <td>Registration and Welcome Refreshments</td>
                <td>
                  Gather at the registration desk, grab your event kit, and
                  enjoy some refreshing snacks as we prepare for a day of green
                  festivities.
                </td>
              </tr>
              <tr>
                <td>9:00 AM - 9:30 AM</td>
                <td>Inaugural Ceremony</td>
                <td>
                  Join us for the official opening of Vana Mahotsavam 2023.
                  Experience inspiring speeches, a traditional lamp-lighting
                  ceremony, and the unveiling of this year's environmental
                  theme.
                </td>
              </tr>
              <tr>
                <td>9:30 AM - 10:30 AM</td>
                <td>Tree Plantation Drive - Session 1</td>
                <td>
                  Get your hands dirty and contribute to our tree plantation
                  drive. Plant saplings, learn about the significance of each
                  tree, and bond with fellow participants as we sow the seeds of
                  a greener future.
                </td>
              </tr>
              <tr>
                <td>10:30 AM - 11:00 AM</td>
                <td>Refreshment Break</td>
                <td>
                  Recharge with some light refreshments. Network with
                  like-minded individuals, visit the information booths, and
                  explore the beauty of the event venue.
                </td>
              </tr>
              <tr>
                <td>11:00 AM - 12:00 PM</td>
                <td>Cultural Performances</td>
                <td>
                  Immerse yourself in the beauty of cultural expressions
                  celebrating nature. Enjoy dance, music, and art performances
                  that resonate with the theme of environmental conservation.
                </td>
              </tr>
              <tr>
                <td>12:00 PM - 1:00 PM</td>
                <td>Lunch Break</td>
                <td>
                  Indulge in a delicious lunch spread with eco-friendly
                  practices. Connect with fellow participants and share
                  experiences while enjoying a meal amidst nature.
                </td>
              </tr>
              <tr>
                <td>1:00 PM - 2:00 PM</td>
                <td>Guest Speaker Session</td>
                <td>
                  Engage with experts in environmental conservation. Learn from
                  insightful discussions, presentations, and Q&A sessions with
                  our esteemed guest speakers.
                </td>
              </tr>
              <tr>
                <td>2:00 PM - 3:00 PM</td>
                <td>Tree Plantation Drive - Session 2</td>
                <td>
                  Continue our tree planting efforts with another interactive
                  session. Contribute to increasing the green cover and leave a
                  lasting impact on the environment.
                </td>
              </tr>
              <tr>
                <td>3:00 PM - 3:30 PM</td>
                <td>Closing Ceremony and Thank You</td>
                <td>
                  Wrap up the day with a closing ceremony, expressing gratitude
                  to all participants, sponsors, and contributors. Share
                  highlights from the event and reinforce our collective
                  commitment to a sustainable future.
                </td>
              </tr>
              <tr>
                <td>3:30 PM - 4:00 PM</td>
                <td>Networking and Socializing</td>
                <td>
                  Wind down the day by connecting with fellow participants,
                  sharing experiences, and building lasting connections. Enjoy
                  light snacks as we conclude Vana Mahotsavam 2023 on a positive
                  note.
                </td>
              </tr>
            </table>

            <!--   <table class="schedule-table js-schedule-table" id="day-2">
              <tr>
                <th>time</th>
                <th>genre</th>
                <th>artist</th>
              </tr>
              <tr>
                <td>12:00 - 01:00</td>
                <td>hip hop and rap</td>
                <td>
                  <img src="assets/images/performer-3-small.jpg" alt="img" />
                  <span>john doe</span>
                </td>
              </tr>
              <tr>
                <td>12:00 - 01:00</td>
                <td>hip hop and rap</td>
                <td>
                  <img src="assets/images/performer-1-small.jpg" alt="img" />
                  <span>john doe</span>
                </td>
              </tr>
              <tr>
                <td>12:00 - 01:00</td>
                <td>hip hop and rap</td>
                <td>
                  <img src="assets/images/performer-2-small.jpg" alt="img" />
                  <span>john doe</span>
                </td>
              </tr>
            </table> -->
          </div>
        </div>
      </section>
      <!-- schedule section end -->

      <!-- sponsors section start -->
      <section class="sponsors" id="sponsors">
        <div class="container">
          <div class="section-header">
            <h2
              class="section-header-title"
              data-splitting
              data-aos="text-animation"
            >
              event sponsors
            </h2>
          </div>
          <div class="sponsors-items">
            <!-- sponsors item start -->
            <div class="sponsors-item" data-aos="fade">
              <img src="assets/images/sponsor-1.png" alt="img" loading="lazy" />
            </div>
            <!-- sponsors item end -->
            <!-- sponsors item start -->
            <div class="sponsors-item" data-aos="fade" data-aos-delay="50">
              <img src="assets/images/sponsor-2.png" alt="img" loading="lazy" />
            </div>
            <!-- sponsors item end -->
            <!-- sponsors item start -->
            <div class="sponsors-item" data-aos="fade" data-aos-delay="100">
              <img src="assets/images/sponsor-3.png" alt="img" loading="lazy" />
            </div>
            <!-- sponsors item end -->
            <!-- sponsors item start -->
            <div class="sponsors-item" data-aos="fade" data-aos-delay="150">
              <img src="assets/images/sponsor-4.png" alt="img" loading="lazy" />
            </div>
            <!-- sponsors item end -->
            <!-- sponsors item start -->
            <div class="sponsors-item" data-aos="fade" data-aos-delay="200">
              <img src="assets/images/sponsor-5.png" alt="img" loading="lazy" />
            </div>
            <!-- sponsors item end -->
            <!-- sponsors item start -->
            <div class="sponsors-item" data-aos="fade" data-aos-delay="250">
              <img src="assets/images/sponsor-6.png" alt="img" loading="lazy" />
            </div>
            <!-- sponsors item end -->
            <!-- sponsors item start -->
            <div class="sponsors-item" data-aos="fade" data-aos-delay="300">
              <img src="assets/images/sponsor-7.png" alt="img" loading="lazy" />
            </div>
            <!-- sponsors item end -->
            <!-- sponsors item start -->
            <div class="sponsors-item" data-aos="fade" data-aos-delay="350">
              <img src="assets/images/sponsor-1.png" alt="img" loading="lazy" />
            </div>
            <!-- sponsors item end -->
          </div>
        </div>
      </section>
      <!-- sponsors section end -->

      <!-- gallary section start -->
      <section class="about" id="gallary">
        <div class="container">
          <div class="about-content">
            <div class="section-header">
              <h2
                class="section-header-title"
                data-splitting
                data-aos="text-animation"
              >
                Gallary Events
              </h2>
            </div>

            <div class="about-img-box">
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">Slide 1</div>
                  <div class="swiper-slide">Slide 2</div>
                  <div class="swiper-slide">Slide 3</div>
                  <div class="swiper-slide">Slide 4</div>
                  <div class="swiper-slide">Slide 5</div>
                  <div class="swiper-slide">Slide 6</div>
                  <div class="swiper-slide">Slide 7</div>
                  <div class="swiper-slide">Slide 8</div>
                  <div class="swiper-slide">Slide 9</div>
                </div>
              </div>

              <div class="about-decor1" data-aos="reveal-left"></div>
              <div class="about-decor2" data-aos="reveal-left"></div>
            </div>

            <div class="about-text">
              <p data-aos="fade">
                Welcome to the gallery showcasing the vibrant moments and green
                initiatives from our past Vana Mahotsavam events.
              </p>

              <p data-aos="fade">
                Scroll through the slideshow below to get a glimpse of the
                incredible journey we've embarked on in our mission to nurture a
                greener planet.
              </p>

              <div class="about-btn" data-aos="fade-up">
                <a href="#register" class="btn">buy tickets</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- gallary section end -->

      <!-- register section start -->
      <section class="contact" id="register">
        <div class="container">
          <div class="a-content">
            <div class="section-header">
              <h2
                class="section-header-title"
                data-splitting
                data-aos="text-animation"
              >
                Get Involved
              </h2>
            </div>

            <div class="contact-container">
              <div class="contact-content">
                <div class="contact-content">
                  <h3 class="contact-title">
                    <i class="fa fab-chat-3-line"></i>
                    Talk To Me
                  </h3>
                  <div class="contact-info">
                    <div class="contact-data">
                      <div class="contact-data-title">Email</div>
                      <div class="contact-data-info">chrismayer@email.com</div>
                    </div>
                    <div class="contact-data">
                      <div class="contact-data-title">Whatsapp</div>
                      <div class="contact-data-info">+51 60987699</div>
                      <a href="" class="contact-button">
                        Write Me
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    </div>
                    <div class="contact-data">
                      <div class="contact-data-title">Messenger</div>
                      <div class="contact-data-info">@chris.fb123</div>
                      <a href="" class="contact-button"> Write Me </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="contact-content">
                <h3 class="contact-title">
                  <i class="fa fa-send-pane-line"></i>
                  Write me your project
                </h3>

                <form action="/submit" method="POST" class="contact-form" id="contact-form">
                  <div class="contact-form-div">
                    <label for="" class="contact-form-tag">Name</label>
                    <input
                      type="text"
                      name="name"
                      required
                      placeholder="Write your Name"
                      class="contact-form-input"
                      id="contact-name" 
                    />
                  </div>
                  <div class="contact-form-div">
                    <label for="" class="contact-form-tag">Email</label>
                    <input
                      type="email"
                      name="email"
                      required
                      placeholder="Write your Email"
                      class="contact-form-input"
                      id="contact-name"
                    />
                  </div>
                  <div class="contact-form-div">
                    <label for="" class="contact-form-tag">Phone</label>
                    <input
                      type="text"
                      name="phone"
                      required
                      placeholder="Write your Email"
                      class="contact-form-input"
                      id="contact-name"
                    />
                  </div>
                  <div class="contact-form-div">
                    <label for="" class="contact-form-tag">Usn</label>
                    <input
                      type="text"
                      name="usn"
                      required
                      placeholder="Write your Email"
                      class="contact-form-input"
                      id="contact-name"
                    />
                  </div>
                  <!-- <div class="contact-form-div contact-form-area">
                    <label for="" class="contact-form-tag"></label>
                    <textarea
                      name="user-project"
                      placeholder="Write your project"
                      id="contact-project"
                      required
                      class="contact-form-input"
                    ></textarea>
                  </div> -->
                  <button type="submit" class="contact-button">
                    Submit
                    <i class="fa fa-arrow-right"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- register section end -->

      <!-- footer start -->
      <footer class="footer">
        <div class="footer-container container">
          <div class="footer-social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
          <div class="footer-copyright">
            &copy;2024 SMVITM. All Right Reserved
          </div>
        </div>
      </footer>
      <!-- footer end -->

      <!--=============== SCROLL TO TOP ===============-->
      <a href="#" onclick="topFunction()" id="top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="assets/javascript/aos.js" crossorigin="anonymous"></script>
    <script
      src="assets/javascript/splitting.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="assets/javascript/script.js" crossorigin="anonymous"></script>
  </body>
</html>
